@font-face {
    font-family: "Helvetica-bold";
    src: url("../assets/fonts/helvatica/helvetica-bold.ttf");
}

@font-face {
    font-family: "Helvetica-light";
    src: url("../assets/fonts/helvatica/helvetica-light.ttf");
}

// @font-face {
//     font-family: "futura";
//     src: url("../assets/fonts/futura/Futura.ttf");
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    font-size: 62.5%;
    font-family: Helvetica;
    // font-family: Helvetica-light, sans-serif;
}

body {
    height: 100dvh;
    width: 100vw;
    color:#575757;
}

a:hover{color:#646464}

button {
    cursor: pointer;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
    // background-color: #135700 #0B2118 #191919 #FFFFFF;
    color: #2A6049;
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

.hide {
    opacity: 0;
}

.App::-webkit-scrollbar {
    width: 4px;
}
 
.App::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px transparent;
}
 
.App::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: solid 1px gray;
    border-radius: 1rem;
}