.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5rem;
    width: 110rem;
}

.shop-content {
    display: flex;
}