.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
}

.product-page-content {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5rem;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
    }
}

.nav-btns {
    background-color: transparent;
    border: none;
}