.discount-products, .quick-deals {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem;

	h2, h3, h4, p {
		font-weight: 400;
	}
}

.quick-deals {
	padding: 5rem 9rem 15rem 9rem;
	background-color: #FFFFFF;
}

.discount-products-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #000000;
    padding-bottom: 6rem;
}

.discount-products-heading, .quick-deals-heading {
	font-size: 2.8rem;
	margin: 1rem;
}

.discount-products-txt, .quick-deals-txt {
	padding: 0 2rem;
    text-align: center;
}

.discount-products-list {
	max-width: 92rem;
	display: flex;
	overflow: hidden;
}

.quick-deals-list {
	max-width: 92rem;
	display: flex;
  	flex-wrap: wrap; 
	justify-content: center;
}

.product-card, .shop-product {
	position: relative;
	margin: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 21rem;
		object-position: center;
		object-fit: contain;
		aspect-ratio: 1/1;
		background-color: #FFFFFF;
	}

	h3 {
		font-size: 1.6rem;
		margin-top: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
	}

	p {
		font-size: 1.6rem;
	}

	button {
		padding: 2rem;
		font-size: 1.6rem;
		width: 21rem;
		background-color: #FFFFFF;
		border: 1px solid #000000;
		transition: ease 0.4s;
	}
}

.animate-left {
	animation: scrollLeft 0.3s ease-in-out;
}

.animate-right {
	animation: scrollRight 0.3s ease-in-out;
}

.left-arrow-btn, .right-arrow-btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin-bottom: 10rem;
	padding: 1rem;
	svg {
		height: 1.2rem;
	}
}

.left-arrow-btn {
	svg {
		transform: scaleX(-1) scale(1);
	}
}

.previous-arrow-btn, .next-arrow-btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 1rem;
	svg {
		height: 1.2rem;
	}
}

.previous-arrow-btn {
	svg {
		transform: scaleX(-1) scale(1);
	}
}

.discount-tag {
	position: absolute;
	left: 0;
	width: 12rem;
	text-align: center;
	font-size: 14px;
	padding: 4px;
	background-color: rgba(42, 96, 73, 0.9);
	color: #FFFFFF;
} 

.quantity-btn {
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	width: 21rem;
	margin: 0.8rem 0;
	padding: 0.5rem 0;

	button {
		border: none;
		width: 5rem;
		padding: 0;
		font-size: 24px;
	}

	input {
		font-size: 1.8rem;
		text-align: center;
		border: none;
		outline: none;
	}
}

.shop-product {
	width: 17rem;
	img, button, .quantity-btn {
		width: 17rem;
	}

	h2, h3, h4, p {
		font-weight: 400;
	}
}

.add-to-cart-btn {
	svg {
		height: 3rem;
		width: 3rem;
	}
}

.add-to-cart-btn:hover {
	transition: ease 0.4s;
	opacity: 0.6;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type=number] {
	-moz-appearance: textfield;
}

.sorting-list {
	display: flex;
	justify-content: right;
	align-items: center;
	margin: 1rem;

	h1 {
		font-size: 1.6rem;
		font-weight: 500;
	}

	select {
		padding: 1rem 0;
		font-size: 1.6rem;
		font-weight: 500;
		background-color: #FFFFFF;
		color: #000000;
		backdrop-filter: blur(10px);
		border: none;
		outline: none;
	}
}

.recommended-order {
	width: 13rem;
}

.newest-order {
	width: 7.5rem;
}

.low-to-high-order, .high-to-low-order {
	width: 15rem;
}

.a-to-z-order, .z-to-a-order {
	width: 9.5rem;
}

.checked-option {
	background-color: rgba(0, 0, 0, 0.1);
}

.page-control-btns {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		background-color: transparent;
		font-size: 1.4rem;
		border: none;
		padding: 1rem;
	}
}

.add-to-cart-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.8rem;
	transition: ease 0.4s;
}

.product-list {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.product-list.hidden {
    opacity: 0;
    visibility: hidden;
}

.no-results {
	font-size: 2rem;
}

.dot-pulse {
	position: relative;
	left: -9999px;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #000000;
	color: #000000;
	box-shadow: 9999px 0 0 -5px;
	animation: dot-pulse 1.5s infinite linear;
	animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #000000;
	color: #000000;
}
.dot-pulse::before {
	box-shadow: 9984px 0 0 -5px;
	animation: dot-pulse-before 1.5s infinite linear;
	animation-delay: 0s;
}
.dot-pulse::after {
	box-shadow: 10014px 0 0 -5px;
	animation: dot-pulse-after 1.5s infinite linear;
	animation-delay: 0.5s;
}

.filter-sort-page {
	position: fixed;
	height: 100dvh;
	width: 100vw;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF;
	overflow: hidden;
	z-index: 100;
	animation: onLoadAnimation 0.5s ease-out;
}

.filter-sort-page-closed {
  	animation: onCloseAnimation 0.5s ease-out;
}

.filter-page-header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;

    span {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 2.2rem;
        font-weight: bold;
        color: #000000;
        margin-right: .5rem;
    }

    p {
        font-size: 1.8rem;
    }
}

.filter-details-tag, .filter-price-slider {
	margin: 2rem;
	padding-bottom: 2rem;
    font-size: 16px;
    transition: 0.4s ease-out;
	border-bottom: 1px solid #000000;

	label {
		font-size: 16px;
		padding-left: 1rem;
		display: inline-block;
	}

	summary {
		list-style: none;
		cursor: default;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: 0.4s ease-out;
	}

	summary::-webkit-details-marker {
		display: none;
	}
}

.filter-details-tag {
	input {
		height: 14px;
		width: 14px;
		background-color: #2A6049;
	}
}

.filter-page-footer {
	padding: 1.5rem;
	border-top: 1px solid #000000;
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;

	button {
		padding: 1rem;
		margin: 0 0.5rem;
		width: calc(50% - 1rem);
		border-radius: 0;
		border: 1px solid #000000;
		background-color: #FFFFFF;
	}
}

.filter-apply-btn {
	background-color: #2A6049 !important;
	border: 1px solid #2A6049 !important;
	color: #FFFFFF;
}

.margin-top {
	margin-top: 1.5rem;
}
  
  @keyframes dot-pulse-before {
	0% {
	  box-shadow: 9984px 0 0 -5px;
	}
	30% {
	  box-shadow: 9984px 0 0 2px;
	}
	60%, 100% {
	  box-shadow: 9984px 0 0 -5px;
	}
  }
  @keyframes dot-pulse {
	0% {
	  box-shadow: 9999px 0 0 -5px;
	}
	30% {
	  box-shadow: 9999px 0 0 2px;
	}
	60%, 100% {
	  box-shadow: 9999px 0 0 -5px;
	}
  }
  @keyframes dot-pulse-after {
	0% {
	  box-shadow: 10014px 0 0 -5px;
	}
	30% {
	  box-shadow: 10014px 0 0 2px;
	}
	60%, 100% {
	  box-shadow: 10014px 0 0 -5px;
	}
  }

  @keyframes scrollLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes scrollRight {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}