footer {
    background-color: #2A6049;
    color: #FFFFFF;
    padding: 4rem;
    margin: 5rem 0;
    width: 110rem;
}

.additional-links {
    display: flex;

    div {
        display: flex;
        width: 24rem;
        flex-direction: column;
        margin: 4rem;
    }

    h1 {
        margin-bottom: 3rem;
    }

    h1, p, label, button {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.store-nav-btns {
    button {
        background-color: transparent;
        border: none;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: .8rem;
        font-size: 1.4rem;
    }
}

.subscribe-toggle {
    display: flex;
    align-items: center;
}

.subscribe-txt {
    font-size: 1.3rem !important;
    padding-left: 1rem;
}

.contact-links {
    display: flex;
    justify-content: end;
    padding-right: 3rem;
}

.contact-btn {
    border-radius: 100%;
    border: none;
    background-color: transparent;
    line-height: 0;
    margin: 0.8rem;

    svg {
        height: 2.4rem;
        width: 2.4rem;
    }
}

.footer-address {
    p {
        line-height: 2.2rem;
    }
}

.opening-hours {
    p {
        margin-bottom: .8rem;
    }
}

.footer-form {
    width: 42rem;
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
}

.footer-email {
    background-color: transparent;
    outline: none;
    padding: 1rem;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 0;
    transition: 0.1s ease-in;
}

.footer-submit-btn {
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid #FFFFFF;
    transition: 0.1s ease-in;
}

.footer-checkbox {
    background-color: #2A6049;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #FFFFFF;
}

.watermark {
    width: 100%;
    text-align: end;
    padding-right: 4rem;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.facebook-icon {
    margin: 0 !important;
}