footer {
    background-color: #2A6049;
    color: #FFFFFF;
    padding: 1.5rem 4rem;
    margin: 5rem;
    width: 100rem;
}

.additional-links {
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        margin: 5rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h1, p, label {
        font-size: 1.2rem;
        font-weight: 100;
    }
}

.store-nav-btns {
    button {
        background-color: transparent;
        border: none;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: .8rem;
    }
}

.subscribe-toggle {
    display: flex;
}

.contact-links {
    display: flex;
    justify-content: end;
}

.contact-btn {
    border-radius: 100%;
    border: none;
    background-color: transparent;
    line-height: 0;
    margin: 0.5rem;

    svg {
        height: 2.4rem;
        width: 2.4rem;
    }
}

.footer-address {
    p {
        line-height: 2.2rem;
    }
}

.opening-hours {
    p {
        margin-bottom: .8rem;
    }
}

.footer-form {
    width: 24rem;
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem;
}

.footer-email {
    background-color: transparent;
    outline: none;
    padding: 1rem;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 0;
}

.footer-submit-btn {
    margin: 1.5rem 0;
    padding: 1rem;
}

.footer-checkbox {
    background-color: #2A6049;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #FFFFFF;
    margin-right: 1rem;
}
