.shipping-returns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-returns-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5rem;
    width: 110rem;

    h1 {
        color: #2A6049;
        font-size: 2.2rem;
        margin: 2rem;
    }
    
    p {
        padding: 1rem 22rem;
        font-size: 1.6rem;
        text-align: center;
    }
}