.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: transparent;
    color: #000000;
    margin: 5rem;
    padding: 0;

    h1 {
        color: #2A6049;
        font-size: 2.5rem;
        margin: 2rem 0;
    }
    
    p, summary {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    button {
        background: transparent;
        border: none;
        padding: 1rem;
    }
}

.styled {
    padding: 1rem;
    width: 90rem;
}

.styled summary::-webkit-details-marker {
    display: none;
}
   
.styled summary {
    list-style: none;
    cursor: default;
    padding-right: 1.5em;
    position: relative;
  
    &::after {
        content: '';
        border-right: 1px solid;
        border-bottom: 1px solid;
        position: absolute;
        right: 0.5rem;
        height: 0.5rem;
        width: 0.5rem;
        transform: rotate(45deg) translatey(-.1em);
    }
}

details[open].styled > summary::after {
    transform: rotate(-135deg) translatey(-.3em);
}

.faq-nav-btns {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10rem;
}
   
.faq-horizontal-line {
    display: inline-block;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(42, 96, 73, 0.2);
    width: 100%
}

.current-faq-btn {
    color: rgb(42, 96, 73);
    font-weight: 800;
}

.normal-faq-btn {
    font-weight: 100;
}